{% extends 'list.html' %}
{% load static %}

{% block columns %}
    <tr> 
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">Cédula</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript_list %}
    <script src="{% static 'js/listado.js' %}"></script>
{% endblock %}

{% block content_list_before %}

{% endblock %}